body {
	overflow-y: scroll;
}
[data-tab="2"] {
	display: none;
}

.btn-block {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.check-form .row {
	margin-bottom: 20px;
}


.client-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;;
	align-items: center;
}

.small-photo {
	margin: 5px;
	max-width: 100px;
}

.inform-head {
    display: inline-block;
    width: 73px;
    margin-left: 5px;
    font-size: 15px;
    margin-bottom: 5px;
}

.author {
	font-size: 15px;
}
.review {
	margin-bottom: 20px;
}
.reviews-list {
	margin: 10px;
}

.review-item {
	padding: 20px 5px;

}

.comments-list {
	padding: 0 20px;
	margin-top: 5px;
	display: none;
	
}
.comment__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 20px;
	border-bottom: 1px solid red;
}
.comment-item {
	padding: 5px;
	border: 1px solid gray;
	border-radius: 5px;
    box-shadow: 6px 4px 11px -2px rgba(0,0,0,0.55);
    margin-bottom: 20px;
}
.comment-body {
	margin: 0 10px;
	padding: 3px;
}
.mark i {
	margin-right: 6px;
	cursor: pointer;
}
.mark span {
	cursor: pointer;
}
.mark-form {
	display: none;
	flex-direction: row;
}

.new-comment {
	display: none;
}
.new-comment .btn {
	margin-left: 20px;
}

.nth-found {
	display: none;
}

.review-block {
	display: none;
}

.error {
	color: red;
	font-weight: bold;
	/*margin-left: 80px;*/
	display: none;
	position: absolute;
}

.message {
	border: 1px solid red;
}

.review-item .thumb {
	font-size: 30px;
}

/*.thumb-row {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}*/
.big-btn {
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-black {
	background-color: black;
	color: #fff;
}
.container-body {
	min-height: calc(100vh - 50px);
}
footer {
	height: 50px;
	text-align: center;
    color: gainsboro;
    font-size: 15px;

}
.back-btn {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    border: none;
    background-color: transparent;
}
.btn-custom {
	    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.custom-blue {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.custom-darkblue{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;

}
input[name="is_ban"], label[for="is_ban"] {
	display: none;
}


@media(max-width: 768px) {
	.check-btn {
		margin-top: 10px;
	}
	.client-header {
		flex-direction: column;
		align-items: flex-start;
	}
	.info-btn {
		margin-bottom: 10px;
	}

	.big-btn {
		margin-bottom: 20px;
	}
}